---
import Layout from '../layouts/Layout.astro';
import GamesList from '../components/Games-list.astro';
import Container from '../components/Container.astro';
import Hero from '../components/Hero.astro';
import GamesFilter from '../components/Games-filter.astro';
---

<Layout>
	
	<main>
		<Container>
		<Hero></Hero>

			<!-- <GamesFilter></GamesFilter> -->

			<GamesList/>
		</Container>




	</main>
</Layout>

