---
const response = await fetch(
	"https://www.gamerpower.com/api/giveaways?type=game"
);
const games = await response.json();
---

<div class="md:grid md:grid-cols-4 gap-4 p-8">
	{
		games.map(({ id, thumbnail, title, platforms, description }) => (
			<div class="flex md:flex-col gap-4 p-2 bg-slate-800 rounded-xl my-2 md:my-0">
				<div class="flex-none w-32 md:w-full md:h-40 relative">
					<img
						style={`background-image:url('${thumbnail}')`}
						alt=""
						class="absolute inset-0 w-full h-full object-cover rounded-lg bg-cover"
						loading="lazy"
					/>
				</div>
				<div class="flex flex-col w-full">

					<div class="flex flex-wrap">
						<h1 class="flex-auto font-medium text-slate-100">
							{title}
							</h1>
							<p class="text-sm text-slate-500 hidden md:block">
								{description}
							</p>
						</div>
						<div class="flex space-x-4 my-5 text-sm font-medium">

							<a
								href={`/game/${id}`}
								class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium text-sm px-5 py-2.5 text-center mr-2 mb-2 rounded-full"
							>
								Ver más
							</a>
						</div>
						
				</div>
			</div>
		))
	}
</div>
