<header class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
    <nav>
        <img src="https://i0.wp.com/lbdtw.com.ar/wp-content/uploads/cropped-ico.png?w=512&ssl=1" alt="">
    </nav>
</header>